.bg {
  background-color: #1e1d3d;
}
* {
  box-sizing: border-box;
}
#rainbow-wrapper {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}
#gumball-wrapper {
  width: 100%;
  height: 60%;
  z-index: 999;
  position: absolute;
  bottom: 0;
}
.rainbow {
  width: 100%;
  padding: 30px;
  border-radius: 50%;
  height: 100%;
}
.pink {
  background-color: #e84793;
}
.light-pink {
  background-color: #f192b4;
}
.yellow {
  background-color: #ffe7b7;
}
.green {
  background-color: #d3e2c1;
}
.dark-pink {
  background-color: #e073ac;
}
.purple {
  background-color: #7164a9;
}
h2 {
  width: 40%;
  font-family: 'mckloud_blackregular';
  font-size: 60px;
  position: absolute;
  top: 11%;
  left: 31%;
  text-align: center;
  line-height: 60px;
  color: #fff;
}
h1 span:nth-child(1) {
  color: #219a33;
}
h1 span:nth-child(2) {
  color: #d61767;
}
h1 span:nth-child(3) {
  color: #63c2c8;
}
h1 span:nth-child(4) {
  color: #b24191;
}
h1 span:nth-child(5) {
  color: #ffe40e;
}
h1 span:nth-child(6) {
  color: #e84e0e;
}
h1 span:nth-child(7) {
  color: #5c79bb;
}
