.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7f8;
    color: #9e3333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-item {
    margin: 20px 0;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 24px;
    color: #2a2a72;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  .nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .nav-toggle-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }
/*   
  .nav-toggle-line:first-child {
    top: ${props => (props.menuOpen ? "50%" : "25%")};
    transform: ${props => (props.menuOpen ? "rotate(45deg)" : "rotate(0)")};
  }
  
  .nav-toggle-line:last-child {
    bottom: ${props => (props.menuOpen ? "50%" : "25%")};
    transform: ${props => (props.menuOpen ? "rotate(-45deg)" : "rotate(0)")};
  } */
  
  @media (min-width: 768px) {
    .nav-menu {
      position: initial;
      width: auto;
      height: auto;
      background-color: transparent;
      flex-direction: row;
      justify-content: flex-end;
      top: 0;
      left: auto;
      transform: none;
    }
  
    .nav-item {
      margin: 0 20px;
    }
  
    .nav-toggle {
      display: none;
    }
  }
  
  @media (min-width: 1200px) {
    .nav-logo {
      font-size: 32px;
    }
  
    .nav-link {
      font-size: 24px;
    }
  }
  