header {
  background-color: #91cce6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.logo{
  font-size: 2em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

li {
  margin: 0 10px;
  text-align: right;
 
}


a {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #000;
}
