.hero {
  width: 100%;
  min-height: 750px;
  background-size: auto;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.cloudBtn{
  size: 2em;
}
.text-center {
  text-align: center;
  font-size: 5em;
  margin-top: 30vh;
}
.heroClouds {
  width: 2500px;
  height: 750px;
  background-image: url('https://i.imgur.com/hAaTm7J.jpg');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: clouds 70s infinite linear;
}

@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1024px 0;
  }
}

@-webkit-keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1024px 0;
  }
}

@-moz-keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1024px 0;
  }
}
