body {
  font-family: Arial, sans-serif;
  font-size: 18px; /* Adjust as needed */
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Light blue */
  color: #333; /* Dark blue */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 50px; /* Adjust as needed */
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.highlight-item,
.testimonial-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.highlight-item i {
  color: #f90; /* Orange */
  font-size: 24px;
  margin-right: 10px;
}

.testimonial-item span {
  display: block;
  font-size: 14px;
  color: #999;
}

.call-to-action a {
  background-color: #f90; /* Orange */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
