@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

body {
  font-family: "Comic Neue", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}